.container{
    text-align: center;
    margin-top:23px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  
  
}


body{
   background: -webkit-linear-gradient(left,#d9ed95, #29330a);
}
            
.box{
    max-width: 300px;
    margin: 12vh auto 0 auto;
    background: -webkit-linear-gradient(left,#6d7a73, #c2edd7);
    border-radius: 10px;
    box-shadow: 0 0 4px 2px rgba(153, 153, 153, 1);
}
#show{
    text-align: right;
    height: 60px;
    line-height: 60px;
    padding: 14px 8px;
    font-size: 22px;
}
.buttons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-bottom: 1px solid white;
    border-left: 1px solid white;
}
.buttons > div {
    border-top: 1px solid white;
    border-right: 1px solid white;
}
.button{
    border: 0.5px solid white;
    line-height: 70px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}
.button:hover{
    opacity: 0.8…